<div class="card">
    <div class="card-title">
        <h4>{{ instituicao.nome }}</h4>
    </div>
    <div class="card-toggle-body">
        <p class="text-muted m-b-15">Descrição da instituição </p>
        <div class="button-list">

            <button type="button" class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5"
                    data-toggle="modal" data-target="#ModalFuncE{{ instituicao.id }}">
                <i class="ti-user"></i>Funcionarios
            </button>

            <button type="button" class="btn btn-success btn-flat btn-addon m-b-10 m-l-5" data-toggle="modal"
                    data-target="#ModalVeiculoE{{ instituicao.id }}"><i class="ti-car"></i>Veiculos
            </button>

            <button type="button" style="color:white" class="btn btn-default btn-flat btn-addon m-b-10 m-l-5"
                    data-toggle="modal" data-target="#ModalOrdenE{{ instituicao.id }}"><i
                    class="ti-clipboard"></i>Ordens
            </button>

            <button type="button" class="btn btn-info btn-flat btn-addon m-b-10 m-l-5" data-toggle="modal"
                    data-target="#ModalInfoE{{ instituicao.id }}"><i class="ti-info-alt"></i>Info
            </button>

            <!-- Modal -->
            <div class="modal fade" id="ModalOrdenE{{ instituicao.id }}" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">O que deseja fazer?</h5>
                        </div>
                        <div class="modal-body">
                            <div class="button-list ">
                                <a type="button" class="btn btn-secondary btn-large btn-block"
                                   style="color:white"
                                   href="{% url 'show_ordens' pk=instituicao.id %}">Gerenciar
                                    Ordens
                                </a>
                                <a type="button" class="btn btn-primary btn-large btn-block" style="color:white"
                                   href="{% url 'add_orden' pk=instituicao.id %}">Criar orden
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="button-list">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Fechar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ModalFuncE{{ instituicao.id }}" tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">O que deseja fazer?</h5>
                        </div>

                        <div class="modal-body">
                            <div class="button-list ">
                                <a style="color:white" type="button"
                                   class="btn btn-secondary btn-large btn-block "
                                   href="{% url 'show_funcionario' pk=instituicao.id %}">Gerenciar
                                    Fuincionarios
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="button-list">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Fechar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ModalVeiculoE{{ instituicao.id }}" tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">O que deseja fazer?</h5>
                        </div>

                        <div class="modal-body">
                            <div class="button-list ">
                                <a type="button" class="btn btn-secondary btn-large btn-block"
                                   style="color:white"
                                   href="{% url 'veiculos_show' pk=instituicao.id %}">Gerenciar
                                    Veiculos
                                </a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="button-list">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Fechar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="ModalInfoE{{ instituicao.id }}" tabindex="-1"
                 role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Informações</h5>
                        </div>
                        <div class="modal-body">
                            Inforações sobre a instituição
                        </div>
                        <div class="modal-footer">
                            <div class="button-list">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Fechar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% if usuario.cargo == 1 %}
    <div class="btn-group dropleft" style="position: absolute;top: 0; right: 0;">
        <button class="btn bg-transparent btn-outline dropdown" aria-haspopup="true"
                aria-expanded="false" data-toggle="dropdown"><i class="ti-settings"></i></button>
        <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="modal" href="#ModalRemove{{ instituicao.id }}"><i
                    class="ti-pencil-alt"> </i>Apagar</a>
        </div>
        <div class="modal fade" id="ModalRemove{{ instituicao.id }}" tabindex="-1"
             role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="">Deseja apagar?</h5>
                    </div>
                    <div class="modal-body">

                        Todos os dados serão perdidos
                    </div>
                    <div class="modal-footer">
                        <div class="button-list">
                            <button type="button" class="btn btn-danger">
                                Remover
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>

