<div class="card" style="padding:10px;" >
    <div class="card-title">
        <h4>{{ instituicao.nome }}</h4>
    </div>
    <div class="card-toggle-body">
        <p class="text-muted m-b-15">Descrição da instituição </p>
        <div class="button-list">
            {% if usuario.cargo.id == 2 or usuario.cargo.id == 1 %}
            <a type="button" class="btn btn-primary btn-flat btn-addon m-b-10 m-l-5"
               href="{% url 'show_funcionario' pk=instituicao.id %}">
                <i class="ti-user" style="margin-right:10px"></i>Funcionarios
            </a>
            {% endif %}
            <a type="button" class="btn btn-success btn-flat btn-addon m-b-10 m-l-5"
               href="{% url 'veiculos_show' pk=instituicao.id %}">
                <i class="ti-car" style="margin-right:10px"></i>Veiculos
            </a>
            {% if usuario.cargo.id != 4 %}
            <a type="button" class="btn btn-warning btn-flat btn-addon m-b-10 m-l-5"
               href="{% url 'show_ordens' pk=instituicao.id %}">
                <i class="ti-clipboard" style="margin-right:10px"></i>Ordens
            </a>
            {% endif %}
            {% if usuario.cargo.id == 4 %}
            <a type="button" class="btn btn-warning btn-flat btn-addon m-b-10 m-l-5"
               href="{% url 'show_ordens_and_ini' pk=instituicao.id %}">
                <i class="ti-clipboard" style="margin-right:10px"></i>Ordens
            </a>
            {% endif %}
            {% if usuario.cargo.id == 2 or usuario.cargo.id == 1 %}
            <a type="button" class="btn btn-danger btn-flat btn-addon m-b-10 m-l-5"
               href="{% url 'conf_relatorios' %}">
                <i class="ti-clipboard" style="margin-right:10px"></i>Relatorios
            </a>
            {% endif %}

            <button type="button" class="btn btn-info btn-flat btn-addon m-b-10 m-l-5" data-toggle="modal"
                    data-target="#ModalInfoE{{ instituicao.id }}"> <i class="ti-info-alt" style="margin-right:10px"></i>Info
            </button>


        </div>
    </div>
    {% if usuario.cargo == 1 %}
    <div class="btn-group dropleft" style="position: absolute;top: 0; right: 0;">
        <button class="btn bg-transparent btn-outline dropdown" aria-haspopup="true"
                aria-expanded="false" data-toggle="dropdown"><i class="ti-settings"></i></button>
        <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="modal" href="#ModalRemove{{ instituicao.id }}"><i
                    class="ti-pencil-alt"> </i>Apagar</a>
        </div>
        <div class="modal fade" id="ModalRemove{{ instituicao.id }}" tabindex="-1"
             role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="">Deseja apagar?</h5>
                    </div>
                    <div class="modal-body">

                        Todos os dados serão perdidos
                    </div>
                    <div class="modal-footer">
                        <div class="button-list">
                            <button type="button" class="btn btn-danger">
                                Remover
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="modal fade" id="sdfs" tabindex="-1"
         role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Informações</h5>
                </div>
                <div class="modal-body">
                    Inforações sobre a instituição
                </div>
                <div class="modal-footer">
                    <div class="button-list">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Fechar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalInfoE{{ instituicao.id }}" tabindex="-1"
         role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Informações</h5>
                </div>
                <div class="modal-body">
                    Inforações sobre a instituição
                </div>
                <div class="modal-footer">
                    <div class="button-list">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Fechar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

