{% extends 'base.html' %}
{% block 'content' %}


<style>
.modal:nth-of-type(even) {
    z-index: 1052 !important;
}
.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}



</style>
<h1> Instiruição </h1>
<div class="card">

    <ul class="nav nav-tabs customtab2 nav-justified" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home7" role="tab">
                <span class="hidden-sm-up"><i class="ti-home"></i></span>
                <span class="hidden-xs-down">Instituição</span></a>
        </li>
        {% if usuario.cargo == 1 %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#messages7" role="tab">
                <span class="hidden-sm-up"><i class="ti-email"></i></span>
                <span class="hidden-xs-down">Arquivado</span></a>
        </li>
        {% endif %}
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home7" role="tabpanel">
            <div class="p-20">
                <!-- Instituições criadas-->

                {% include 'card_instituicao.html' with instituicao=instituicao %}


                {% if usuario.cargo == 1 %}
                <div><i class="bi bi-plus-circle"></i>
                    <button type="button" class="btn btn-success btn-square btn-lg" style="width: 100%"
                            data-toggle="modal"
                            data-target="#MOdalAdicionarinsituicao">
                        <i class="ti-plus"> </i> Criar
                    </button>
                </div>

                <div class="modal fade" data-backdrop="static" id="MOdalAdicionarinsituicao" tabindex="-1" role="dialog"
                     aria-labelledby="ModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="titlemd">Criar Instituição </h5>
                            </div>
                            <form method="POST" action="{% url 'create_inst' %}">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" id="exampleInputEmail5"
                                               aria-describedby="emailHelp" placeholder=" " required maxlength="100"
                                               minlength="3" name="NameInst">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    <button type="submit" class="btn btn-primary">Criar</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% if usuario.cargo == 1 %}
        <div class="tab-pane p-20" id="messages7" role="tabpanel">
            {% if arquivados %}
            {% for arquivado in arquivados %}

            {% include 'card_instituicao.html' with instituicao=arquivado %}

            {% endfor %}
            {% endif %}
        </div>
        {% endif %}
    </div>

    {% if messages %}
    {% for message in messages %}
    <script>
            window.onload = function exampleFunction() {
            toastr.{{ message.tags }}('{{ message }}','{{ message.tags }}',{
            "positionClass": "toast-top-center",
            timeOut: 5000,
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
            })
        };



    </script>
    {% endfor %}
    {% endif %}
</div>


{% endblock %}





