<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

</head>
<body>
<div class="container">
    <h2>Simple Pagination Example using Datatables Js Library</h2>
    <table class="table table-fluid datatable table-striped table-bordered" id="myTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Daniel Danny</td>
            <td>danny.daniel@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        <tr>
            <td>Samuel</td>
            <td>samuel@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        <tr>
            <td>Jack</td>
            <td>jack@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        <tr>
            <td>Eureka</td>
            <td>eureka@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        <tr>
            <td>Pinky</td>
            <td>pinky@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        <tr>
            <td>Mishti</td>
            <td>mishti@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        <tr>
            <td>Puneet</td>
            <td>puneet@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        <tr>
            <td>Nick</td>
            <td>nick@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        <tr>
            <td>Danika</td>
            <td>danika@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        <tr>
            <td>Vishakha</td>
            <td>vishakha@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        <tr>
            <td>Nitin</td>
            <td>ni3@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        <tr>
            <td>Latika</td>
            <td>latika@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        <tr>
            <td>Kaavya</td>
            <td>kaavya@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        <tr>
            <td>Ishika</td>
            <td>ishika@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        <tr>
            <td>Veronika</td>
            <td>veronika@gmail.com</td>
            <td>Pass1234</td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );


</script>

</body>
</html>

