{% extends 'base.html' %}
{% block 'content' %}

<style>
.hand-cursor {
cursor: pointer;
cursor: hand;
}

.table-hoverplus>tbody>tr:hover>td {
 background-color: #eeeeee;
}


</style>
<div class="card p-20 " style="margin:10px">
    <ul class="nav nav-pills customtab2 nav-justified">
        {% if usuario.cargo.id != 4 %}
        <li class="nav-item lineG">
            <a class="nav-link active"  href="{% url 'show_ordens' instituicao.id %}">
                <span class="hidden-sm-up"><i class="ti-pencil-alt"></i></span>
                <span class="hidden-xs-down">Aguardando</span>
            </a>
        </li>
        {% endif %}
        <li class="nav-item lineG">
            <a class="nav-link" href="{% url 'show_ordens_and_ini' instituicao.id %}">
                <span class="hidden-sm-up"> <i class="ti-truck"></i> </span>
                <span class="hidden-xs-down">Em Andamento</span>
            </a>
        </li>
        <li class="nav-item lineG">
            <a class="nav-link"  href="{% url 'show_ordens_final' instituicao.id %}">
                <span class="hidden-sm-up"><i class="ti-close"></i></span>
                <span class="hidden-xs-down">Finalizados</span>
            </a>
        </li>
    </ul>
    {% if usuario.cargo.id != 4 %}
    <div class="p-20">
        {% include 'table_ordens.html' with ordens=aguardando tipo=1 %}
    </div>
    {% endif %}
</div>


{% endblock %}

