{% extends 'base.html' %}
{% block 'content' %}

<style>
.panel-heading .chevron:after {
    content: "\f078";
}
.panel-heading.collapsed .chevron:after {
    content: "\f054";
}

</style>

<div>
    <div class="card">
        <div class="card-header panel-heading " role="tab" id="headingOne-1" data-toggle="collapse"
             data-parent="#accordion" data-target="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne-1">
            <h5 class="mb-0 d-flex">
                <a class="p-2">Resumo da Ordem</a> <i class="chevron fa fa-fw ml-auto p-2"></i>
            </h5>
        </div>
        <div id="collapseOne-1" class="collapse show" role="tabpanel" aria-labelledby="headingOne-1">
            <div class="card-block">
                <hr>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Solicitante</label>
                            <input type="email" class="form-control" id="inputEmail4" disabled
                                   value="{{ordem.solicitante.full_name}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Solicitado para</label>
                            <input type="text" class="form-control" id="inputPassword4" disabled value="----">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Data da Solicitação</label>
                            <input type="email" class="form-control" disabled value="{{ordem.data_solicitacao}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Data Solicitada</label>
                            <input type="text" class="form-control" disabled value="{{ ordem.data_solicitado }}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputAddress2">Descrição</label>
                        <textarea class="form-control" id="inputAddress2" disabled
                                  style="min-height:100px;max-height:200px;">{{ordem.descricao}} </textarea>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Motorista</label>
                            <input type="email" class="form-control" disabled
                                   value="{{ordem.motorista.full_name}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Contato</label>
                            <input type="text" class="form-control" disabled value="{{ordem.motorista.telefone}}">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Veiculo</label>
                            <input type="email" class="form-control" disabled
                                   value="{{ordem.veiculo.name}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Placa</label>
                            <input type="text" class="form-control" disabled value="{{ordem.veiculo.placa}}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">
        Confirmar saida
    </button>
    <br><br><br><br>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-body ">
                    <div class="d-flex justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-x-circle" viewBox="0 0 16 16" style="color:red; width: 20%;height:20%">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </div>
                    <div class="d-flex justify-content-center">
                        <h4> Deseja continuar ?</h4>
                    </div>

                </div>
                <div class="modal-footer justify-content-center">
                    <form method="post" action="{% url 'ordem_confirm_2' pk=instituicao.id pk_2=ordem.id %}">
                        {% csrf_token %}
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Confimar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}
