{% extends 'base.html' %}
{% block 'content' %}
{% load static %}

<style>

.right
{
	position:absolute;
	right:0px;
	width:300px;
	background-color:#b0e0e6;
}



</style>
<div class="card">
    <div>
        <a class="btn btn-md btn-primary btn-addon m-b-10 m-l-5" style="color:white;"
           href="{% url 'register_new_user' pk=instituicao.id %}"><i class="ti-plus"></i>Adicionar
        </a>
        <form method="post" action="#" class="input-group" style="max-width: 300px; margin-left:auto; float:right ">
            {% csrf_token %}
            <input type="search" class="form-control rounded" placeholder="Buscar" aria-label="Search"
                   aria-describedby="search-addon" id="myFilter" onkeyup="myFunction()">
            <button type="submit" class="btn btn-primary" disabled><i class="ti-search"></i></button>
        </form>
    </div>
</div>

<div class="card">
    <ul class="nav nav-tabs customtab2 nav-justified" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home7" role="tab">
                <span class="hidden-sm-up"><i class="ti-home"></i></span>
                <span class="hidden-xs-down">Funcionarios</span></a>
        </li>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home7" role="tabpanel">
            <div class="p-20">
                <div class="recent-comment" id="myProducts">
                    {% for funcionario in funcionarios %}
                    <div class="media" >
                        <div class="media-left">
                            <a href="#ModalInfo{{ funcionario.id }}" data-toggle="modal">
                                <img class="media-object" src="{% static 'images/avatar/2.jpg'%}" alt="...">
                            </a>

                            <!-- Modal Infos funcionario -->
                            <div class="modal fade" data-backdrop="static" id="ModalInfo{{ funcionario.id }}"
                                 tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Informações de {{ funcionario.name }}</h5>
                                        </div>
                                        <div class="modal-body">
                                            <h2> Infos Aqui </h2>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">
                                                Fechar
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="card-title">{{ funcionario.name }}</h4>
                            <p>{{ funcionario.cargo.nome }}</p>
                            <div class="comment-action">
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                        data-target="#ModalChangeCargo{{ funcionario.id }}">Mudar cargo
                                </button>
                                <div class="badge badge-warning">Pending</div>
                                <div class="badge badge-danger">Rejected</div>
                                <span class="m-l-10"></span>

                                <!-- Modal -->
                                <div class="modal fade" data-backdrop="static"
                                     id="ModalChangeCargo{{ funcionario.id }}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="ModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="veiculoModalCenterTitle">Selecione um
                                                    cargo</h5>
                                            </div>
                                            <form method="POST"
                                                  action="{% url 'change_cargo_func' pk=instituicao.id %}">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <select class="form-control" name="OptionSelectCargo">
                                                            {% for cargo in cargos %}
                                                            {% if cargo.id != funcionario.cargo.id %}
                                                            <option>{{ cargo.nome }}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                        Fechar
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Save changes
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="comment-date">October 21, 2017</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

        {% if messages %}
        {% for message in messages %}
        <script>
            window.onload = function exampleFunction() {
            toastr.{{ message.tags }}('{{ message }}','{{ message.tags }}',{
            "positionClass": "toast-top-center",
            timeOut: 5000,
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "tapToDismiss": false
            })
        };



        </script>
        {% endfor %}
        {% endif %}


<script>

 function myFunction() {
  var input, filter, cards, cardContainer, title, i;
  input = document.getElementById("myFilter");
  filter = input.value.toUpperCase();
  cardContainer = document.getElementById("myProducts");
  cards = cardContainer.getElementsByClassName("media");
  for (i = 0; i < cards.length; i++) {
    title = cards[i].querySelector(".card-title");
    if (title.innerText.toUpperCase().indexOf(filter) > -1) {
      cards[i].style.display = "";
    } else {
      cards[i].style.display = "none";
    }
  }
}

</script>

{% endblock %}


